.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    /* transition: all .4s ease-out;              */
    border-radius: 7px 20px;
}

.ModalOpen {
    /* display: block; */   /*does not work with transition*/
    /* opacity: 1;                                  /*these are not needed when using animation*/
    /*transform: translateY(0); */
    animation: openModal .5s ease-out forwards;
}

.ModalClosed {
    /* display: none; */
    /* opacity: 0;
    transform: translateY(-100%); */
    animation: closeModal 1s ease-out forwards;
}

/* .fade-slide-enter {

} */

.fade-slide-enter-active {
    animation: openModal .5s ease-out forwards;
}

/* .fade-slide-exit {

} */

.fade-slide-exit-active {
    animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateX(-300%);
    }

    75% {
        opacity: .8;
        transform: translateX(5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    15% {
        opacity: 1;
        transform: translateX(-5%);
    }
    100% {
        opacity: 0;
        transform: translateX(300%);
    }
}



/* @keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
} */