.Backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.BackdropOpen {
    /* display: block; */
    animation: openBackdrop .4s ease-out forwards;
}

.BackdropClosed {
    /* display: none; */
    animation: closeBackdrop 1s ease-out forwards;
}

@keyframes openBackdrop {
    0% {
        opacity: 0;
        z-index: 100;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 1;;
    }
}

@keyframes closeBackdrop {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }
}